
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/


[Aa]sset[Ss]tore/


.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd


.idea/
*.iml


.gradle/
*.apk
*.aar
*.unitypackage


crashlytics-build.properties


/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*


/[Uu]serSettings/


*.apk
*.aab
*.xcodeproj
*.xcworkspace
Pods/


.DS_Store